<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        ul {
            background-color: #eee; border: 1px dotted black; padding: 5px; margin: 5px; border-radius: 5px
        }
    </style>
</head>
<body>
<p>Получен заказ на доставку:</p>
<ul>
    <li>
        ФИО: <span style="font-weight: bold" th:text="${delivery.fullName}"/>
    </li>
    <li>
        Адрес электронной почты: <span style="font-weight: bold" th:text="${delivery.email}"/>
    </li>
    <li>
        Наименование груза: <span style="font-weight: bold" th:text="${delivery.title}"/>
    </li>
    <li>
        Вес груза: <span style="font-weight: bold" th:text="${delivery.weight}"/> кг
    </li>
    <li>
        Габариты мест: <span style="font-weight: bold" th:text="${delivery.items}"/>
    </li>
    <li>
        <span>Комментарий:</span> <span style="font-weight: bold" th:text="${delivery.description}"/>
    </li>
</ul>
<p>
    <em th:text="${senderName}"></em> <br/>
</p>
</body>
</html>