<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        p {
            text-indent: 5em each-line;
        }
    </style>
</head>
<body>
<H1>Уважаемый клиент!</H1>
<div style="background-color: #eee; border: 1px dotted black; padding: 5px; margin: 5px; border-radius: 5px">
    <p>Согласно Таможенному кодексу Евразийского экономического союза (ТК ЕАЭС), Решению Совета ЕЭК от 20.12.2017 N 107,
        без уплаты таможенных пошлин, налогов можно ввозить товары для личного пользования, если стоимость не превышает
        сумму, эквивалентную 200 евро, и (или) вес не превышает 31 кг. В случае превышения ввозных норм, требуется
        уплата пошлины по ставке 15 процентов от стоимости, но не менее 2 евро за 1 кг веса в части превышения
        стоимостной и (или) весовой норм.</p>
    <p>Информируем Вас о том, что Вам выставлено требование на оплату таможенных платежей для экспресс-груза, номер
        <span style="font-weight: bold" th:text="${trackNumber}"/>, приобретённый вами в
        <span style="font-weight: bold" th:text="${marketplace}"/>.
    </p>
    <p>Информация и форма для оплаты платежей находится на сайте
        <a th:href="${ourUrl + '/auth'}" th:text="${ourUrl + '/auth'}"></a> в разделе заказы.</p>
    <p>Согласно ТК ЕЭС ст.119 Оплата должна быть произведена не позднее 10 (десяти) дней с момента получения уведомления
        об оплате.</p>
    <p>По вопросам, связанным с таможенным оформлением товаров, просьба обращаться в службу поддержки ООО «Транс
        Атлантик» e-mail: <a href="mailto:infob2c@t-atlantic.ru">infob2c@t-atlantic.ru</a>.</p>
        <p><b>Пожалуйста, не отвечайте на данное письмо, оно сформировано автоматически!!!</b></p>
</div>
</body>
</html>